Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Script/
Content/StarterContent/
.vscode/
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.idea

# --- 插件相关临时文件 ---
Plugins/*/Binaries/
Plugins/*/Intermediate/

# --- 大文件与二进制资源 (建议使用 LFS，否则忽略) ---
# 如果你有极大的 4K 贴图或视频，可以考虑按需忽略
# *.mp4
# *.psd

# --- 编译器与系统文件 ---
*.exe
*.pdb
*.obj
*.user